<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfc2bSYZqFVCyrdfOiwpH2n0LLRaxmqOg</string>
	<key>GCM_SENDER_ID</key>
	<string>741665840173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jsonApp</string>
	<key>PROJECT_ID</key>
	<string>simport-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>simport-plus.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741665840173:ios:92bfc02d7f43c9f5df2ca4</string>
</dict>
</plist>